<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445310627023-vhur4u4rap7861o7inrs2chcok0dhdrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445310627023-vhur4u4rap7861o7inrs2chcok0dhdrg</string>
	<key>API_KEY</key>
	<string>AIzaSyD8qWwsD3861jGWKjwsIaGW-TvDNnZcsYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>445310627023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>social-app-b92a4</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-b92a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445310627023:ios:4eb5f449477af816b75bba</string>
</dict>
</plist>